<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Loop</title>
</head>
<body>
<h3>Thymeleaf Loop</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="user :${list}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>
<h3>Thymeleaf Scope</h3>
Request: <span th:text="${#httpServletRequest.getAttribute('request')}"></span><br />
Session: <span th:text="${session.session}"></span><br />
Application: <span th:text="${application.application}"></span><br />
<h3>Thymeleaf URLs</h3>
<!-- redirect to demo page without parameter -->
<a th:href="@{~/demo}">Visit Demo Page</a> <br />
<!-- redirect to demo page with parameter -->
<a th:href="@{~/demo(id=1, name=erick)}">Visit Demo page With Parameter</a>
</body>
</html>