<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/tema_dark.css}">

</head>
<body>
<h3>Add User</h3>

<form action="addUser" method="post">
    <span th:errors="${user.name}" style="color:red"></span><br/>
    Username: <input type="text" name="name"/><br/>
    <span th:errors="${user.password}" style="color:red"></span><br/>
    Password: <input type="password" name="password"/><br/>
    <span th:errors="${user.grade}" style="color:red"></span><br/>
    Grade: <input type="text" name="grade"/><br/>
    <span th:errors="${user.email}" style="color:red"></span><br/>
    Email: <input type="text" name="email"/><br/>
    <input type="submit" value="Add">
</form>
</body>
</html>